<footer class="page-footer grey darken-3">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Our Motto</h5>
              <p class="grey-text text-lighten-4">Have a concern or a suggestion? No worries!
Use our Student forums to address issues
which you feel need to be resolved.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Quick Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" target="_blank" href="https://online-food-recharge.herokuapp.com/">Food Court</a></li>
                <li><a class="grey-text text-lighten-3" href="https://newbie-guide.herokuapp.com/">Newbie guide</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2018 Copyright Reserved
          <a class="grey-text text-lighten-4 right" target="_blank" href="https://newbie-guide.herokuapp.com/">Our Website</a>
          </div>
        </div>
      </footer>
