<h1>Welcome</h1>
<p>welcome to Forum</p>
<p>version :1.0.0</p>

{{#if user}}


{{else}}
<a href="/auth/google" class="red darken btn"><i class="fa fa-google left"></i> login with  google</a>

{{/if}}
